<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/static/res/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="/static/res/css/main.css">
</head>
<body>
  <div class="header">
    <div class="menu-btn">
      <div class="menu"></div>
    </div>
    <h1 class="logo">
      <a href="index.html">
        <span>MYBLOG</span>
        <img src="/static/res/img/logo.png">
      </a>
    </h1>
    <div class="nav">
      <a href="/" class="active">文章</a>
{#      <a href="whisper.html">微语</a>#}
      <a href="/leacots/">留言</a>
{#      <a href="album.html">相册</a>#}
      <a href="/about/">关于</a>
    </div>
{#    <ul class="layui-nav header-down-nav">#}
{#      <li class="layui-nav-item"><a href="index.html" class="active">文章</a></li>#}
{#      <li class="layui-nav-item"><a href="whisper.html">微语</a></li>#}
{#      <li class="layui-nav-item"><a href="leacots.html">留言</a></li>#}
{#      <li class="layui-nav-item"><a href="album.html">相册</a></li>#}
{#      <li class="layui-nav-item"><a href="about.html"  class="active">关于</a></li>#}
{#    </ul>#}
    <p class="welcome-text">
      Welcome to <span class="name">Puck Cao's</span> blog
    </p>
  </div>


  <div class="content whisper-content leacots-content details-content">
    <div class="cont w1000">
      <div class="whisper-list">
        <div class="item-box">
          <div class="review-version">
              <div class="form-box">
                <div class="article-cont">
                  <div class="title">
                    <h3>{{ title }}</h3>
                  </div>
                    <pre>{{ text }}</pre>
{#                  <div class="btn-box">#}
{#                    <button class="layui-btn layui-btn-primary">上一篇</button>#}
{#                    <button class="layui-btn layui-btn-primary">下一篇</button>#}
{#                  </div>#}
                </div>
              </div>
          </div>
        </div>
      </div>
      <div id="demo" style="text-align: center;"></div>
    </div>
  </div>
{#  <script type="text/html" id="laytplCont">#}
{#    <div class="cont">#}
{#      <div class="img">#}
{#        {{#  if(d.avatar){ }}#}
{#        <img src="{{d.avatar}}" alt="">#}
{#        {{#  } else { }}#}
{#        <img src="/static/res/img/header.png" alt="">#}
{#        {{# } }}#}
{#      </div>#}
{#      <div class="text">#}
{#        <p class="tit"><span class="name">{{d.name}}</span><span class="data">2018/06/06</span></p>#}
{#        <p class="ct">{{d.cont}}</p>#}
{#      </div>#}
{#    </div>#}
{#  </script>#}
  <div class="footer-wrap">
    <div class="footer w1000">
      <div class="qrcode">
          <h3>欢迎关注我的微博</h3>
        <img src="/static/res/img/weibo.jpg" height="300" width="300">
      </div>
      <div class="practice-mode">
        <div class="text">
          <h4 class="title">我的联系方式</h4>
          <p>微信<span class="WeChat">626795711</span></p>
          <p>手机<span class="iphone">1234567890</span></p>
          <p>邮箱<span class="email">puckcao1997@gmail.com</span></p>
        </div>
      </div>
    </div>
  </div>
{#  <script type="text/javascript" src="/static/res/layui/layui.js"></script>#}
{#  <script type="text/javascript">#}
{#    layui.config({#}
{#      base: '/static/res/js/util/'#}
{#    }).use(['element','laypage','form','menu'],function(){#}
{#      element = layui.element,laypage = layui.laypage,form = layui.form,menu = layui.menu;#}
{#      laypage.render({#}
{#        elem: 'demo'#}
{#        ,count: 70 //数据总数，从服务端得到#}
{#      });#}
{#      menu.init();#}
{#      menu.submit();#}
{#    })#}
{#  </script>#}
</body>
</html>