<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/static/res/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="/static/res/css/main.css">

</head>
<body>
  <div class="header">
    <div class="menu-btn">
      <div class="menu"></div>
    </div>
    <h1 class="logo">
      <a href="index.html">
        <span>MYBLOG</span>
        <img src="/static/res/img/logo.png">
      </a>
    </h1>
    <div class="nav">
      <a href="/">文章</a>
{#      <a href="whisper.html">微语</a>#}
      <a href="/leacots/"  class="active">留言</a>
{#      <a href="album.html">相册</a>#}
      <a href="/about/">关于</a>
    </div>
{#    <ul class="layui-nav header-down-nav">#}
{#      <li class="layui-nav-item"><a href="index.html">文章</a></li>#}
{#      <li class="layui-nav-item"><a href="whisper.html">微语</a></li>#}
{#      <li class="layui-nav-item"><a href="leacots.html"  class="active">留言</a></li>#}
{#      <li class="layui-nav-item"><a href="album.html">相册</a></li>#}
{#      <li class="layui-nav-item"><a href="about.html">关于</a></li>#}
{#    </ul>#}
    <p class="welcome-text">
      欢迎,{{ request.user.username }}
    </p>
  </div>


  <div class="content whisper-content leacots-content">
    <div class="cont w1000">
      <div class="whisper-list">
        <div class="item-box">
          <div class="review-version">
{#              <div class="form-box">#}
{#                <img class="banner-img" src="/static/res/img/liuyan.jpg">#}
{#                <div class="form">#}
{#                  <form class="layui-form" action="/leacots/" method="post">#}
{#                      {% csrf_token %}#}
{#                    <div class="layui-form-item layui-form-text">#}
{#                      <div class="layui-input-block">#}
{#                          <textarea name="comment" rows="5" cols="10"></textarea>#}
{#                        <label>内容</label><textarea name='comment' placeholder="既然来了，就说几句" class="layui-textarea"></textarea>#}
{#                      </div>#}
{#                    </div>#}
{#                    <div class="layui-form-item">#}
{#                      <div class="layui-input-block" style="text-align: right;">#}
{#                        <button class="layui-btn definite" type="submit">提交</button>#}
{#                      </div>#}
{#                    </div>#}
{#                  </form>#}
{#                </div>#}
{#              </div>#}
              <form action="/leacots/" method="post">
                  {% csrf_token %}
                  <textarea rows="8" cols="135" name="comment"></textarea>
                  {% if form.comment.errors %}
                  <p>{{ form.comment.errors }}</p>
                  {% endif %}
                  <button type="submit" class="layui-btn layui-btn-warm">提交</button>
              </form>
              <div class="volume">
                全部留言 <span>{{ nums }}</span>
              </div>

              {% for i in leave %}
              <div class="list-cont">
                <div class="cont">
                  <div class="img">
                    <img src="/static/res/img/header.png" alt="">
                  </div>
                  <div class="text">
                    <p class="tit"><span class="name">{{ i.person }}</span></p>
                    <p class="ct">{{ i.comment }}</p><p style="text-align: right">{{ i.leave_time }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
      </div>
      <div id="demo" style="text-align: center;"></div>
    </div>
  </div>
  <script type="text/html" id="laytplCont">
    <div class="cont">
      <div class="text">
        <p class="tit"><span class="name">{{d.name}}</span><span class="data">2018/06/06</span></p>
        <p class="ct">{{d.cont}}</p>
      </div>
    </div>
  </script>
  <div class="footer-wrap">
    <div class="footer w1000">
      <div class="qrcode">
          <h3>欢迎关注我的微博</h3>
        <img src="/static/res/img/weibo.jpg" height="300" width="300">
      </div>
      <div class="practice-mode">
        <div class="text">
          <h4 class="title">我的联系方式</h4>
          <p>QQ<span class="WeChat">626795711</span></p>
          <p>手机<span class="iphone">1234567890</span></p>
          <p>邮箱<span class="email">puckcao1997@gmail.com</span></p>
        </div>
      </div>
    </div>
  </div>
{#  <script type="text/javascript" src="/static/res/layui/layui.js"></script>#}
{#  <script type="text/javascript">#}
{#   layui.config({#}
{#      base: '/static/res/js/util/'#}
{#    }).use(['element','laypage','form','menu'],function(){#}
{#      element = layui.element,laypage = layui.laypage,form = layui.form,menu = layui.menu;#}
{#      laypage.render({#}
{#        elem: 'demo'#}
{#        ,count: 70 //数据总数，从服务端得到#}
{#      });#}
{#      menu.init();#}
{#      menu.submit()#}
{#    })#}
{#  </script>#}
</body>
</html>