<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="/register/" method="post">
    {% csrf_token %}
    用户名：<input type="text" name="username" style="text-align: center">
    {{ form.username.errors }}
    密码：<input type="password" name="password" style="text-align: center">
    {{ form.password.errors }}
    确认密码：<input type="password" name="confirm">
    {{ form.confirm.errors }}
    <input type="submit" value="提交" style="text-align: center">

</form>
</body>
</html>